*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
.context-inner {
    /* display: flex;
    align-items: center; */
}
.brand.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_header{
    display:flex;
}
.form_header .brand{
    align-items: center;
    background: #f9fafb;
    border-left: 1px solid #dfe3e8;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    box-sizing: border-box;
    display: flex;
    flex: none;
    height: 3.6rem;
    left: 0;
    transition: .3s;
    width: 500px;
    z-index: 1;
}
.form_header .context{
    align-items: center;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    height: 3.5rem;
    width: 100%;
    z-index: 1;
}
.logo{   
background: #43467f;
box-sizing: border-box;
flex: 0 1 auto;
height: 100%;
padding: 1rem;
position: relative;
width: 50px;
}
.logo svg{
    fill: #fff;
}
.form_header .context .context-inner {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 0;
    padding: 0 0.8rem;
}
.context .context-inner .item {
    align-items: center;
    display: flex;
    min-width: 0;
    padding: 0 0.8rem;
    position: relative;
}
.context .context-inner .viewport {
    flex: 1;
    justify-content: center;
}
.view_icon {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
 .view_icon li {
    cursor: pointer;
    display: flex;
    padding: 0 0.8rem;
}
.view_icon li.active {
    box-shadow: inset 0 -4px 0 0 #5c6ac4;
}
 .view_icon   .active{
        box-shadow: inset 0 -4px 0 0 #5c6ac4; 
    }
.form_content {
    /* background: #f4f6f8; */
    display: inline-block;
    height: calc(100vh - 5.6rem);
    padding: 0 25px;
    width: calc(100% - 500px);
}
.form_content .preview-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.form_content .preview-card .banner {
    max-width: 1440px;
    width: 100%;
}
.form_content .iframe-wrapper {
    position: relative;
}

.form_content .preview-box::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.form_content .preview-box::-webkit-scrollbar{
	width: 5px;
}

.form_content .preview-box::-webkit-scrollbar-thumb{
	background-color: #555;
	border: 1px solid #555555;
}

.form_content .preview-box {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 3px rgba(0,0,0,.1), 0 0 12px rgba(0,0,0,.1);
    height: calc(100% - 50px);
    max-width: 1440px;
    position: relative;
    transition: all .25s cubic-bezier(.19,1,.22,1);
    width: 100%;
}
.element_start{
    background: #f9fafb;
    border-right: 1px solid #dfe3e8;
    float: right;
    height: 100vh;
    left: 0;
    margin-top: -3.6rem;
    overflow: hidden;
    padding-top: 3.6rem;
    position: relative;
    transition: .3s;
    width: 500px;

}
ul[role=tablist] .Polaris-Tabs__TabContainer:after {
    border: solid #dfe3e8;
    /* border-width: 0 1px 1px 0; */
    border-width: 0 2px 0px 0;
    content: "";
    display: inline-block;
    margin-left: -27px;
    padding: 12px;
    /* transform: translateY(30px) rotate(-45deg) skew(-15deg,-15deg) translateX(32px); */
    margin-top: 10px;
}
ul[role=tablist].last-child() .Polaris-Tabs__TabContainer:after
ul[role=tablist] .Polaris-Tabs__TabContainer {
    align-items: center;
    height: 100%;
}
.Polaris-Tabs--fitted .Polaris-Tabs__TabContainer {
    flex: 1 1 100%;
}
button.settingsbtn {
    background: transparent;
}
.Polaris-Tabs__Tab--selected{
    box-shadow: inset 0 -4px 0 0 #008060;
}
/* .Polaris-Tabs__Tab:not([aria-disabled='true']):hover{ */
    /* box-shadow: inset 0 -4px 0 0 #4b4b4b8a; */
/* } */
.settingsbtn {
    padding: 1.5rem;
}
.root {
    border-radius: 0;
    margin-bottom: 1rem;
}
 .tabContent {
    height: calc(100vh - 5.6rem - 10px);
    overflow-y: auto;
    padding-top: 10px;
 }
 .list-item {
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
.element_start .Polaris-Tabs__Tab:not([aria-disabled='true']):hover{
    box-shadow: inset 0 -4px 0 0 rgba(204, 204, 204, 1);
    background-color: unset;
}
.element_start .container{
    overflow: scroll;
    height: calc(100vh - 5.6rem);
}
.list-item .row {
    align-items: center;
    background: #fff;
    border: 0;
    border-color: #dfe3e8;
    border-radius: 0;
    border-top: 1px solid #dfe3e8;
    color: #212b36;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: space-between;
    letter-spacing: normal;
    line-height: 2rem;
    padding: 10px 15px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    transition: all .3s cubic-bezier(.19,1,.22,1);
    white-space: normal;
}
.list-item .title {
    flex-grow: 1;
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-item .icon {
    fill: #454f5b;
    color: #dfe3e8;
    display: flex;
    height: 40px;
    margin-left: -spacing(extra-tight-fresh-ui);
    margin-right: 0.8rem;
    min-width: 40px;
    width: 40px;
}
.Polaris-Tabs__Panel--hidden {
    display: none;
}
.tab-content.active{
    display:block;
}
.tab-content{
display: none;
}
.hidden {
    display:none;
}

@media screen and (max-width: 1044px) {
    .view_icon{
        display: none;
    }
    .element_start{
        width:350px;
    }
    .brand.desktop{
        width:350px;
    }
    .form_content{
            width: calc(100% - 350px);
       
    }
}
@media screen and (max-width:800px) {
    .form_content {
        width:100%;
    }
    .brand.desktop {
        width: 100%;
    }
    .form_header{
    flex-wrap: wrap;
    }
    .element_start {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }
    }
    .selectmain{
        position:relative;
        border: 1px solid #abb1ba;
        padding: 6px;
        border-radius: 4px;
        background: #fff;
    }
    select.select_code {
        font-size: 0.870rem;
        font-weight:400;
        line-height: 1.25rem;
        letter-spacing: initial;
        /* position: absolute; */
        text-rendering: auto;
        top: 0;
        left: 0;
        z-index: var(--pc-select-input);
        width: 100%;
        height: 100%;
        margin: 0;
        /* opacity: 0; */
        -webkit-appearance: none;
        appearance: none;
        border: none;
    }
    select:focus-visible {
       outline: none;
    }
 .backheader.header{
    align-items: center;
    background: #f9fafb;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    box-sizing: border-box;
    display: flex;
    flex: none;
    height: 3.6rem;
    justify-content: center;
    position: relative;
    z-index: 1;
 }
 .back-icon{
    color: #454f5b;
    cursor: pointer;
    display: flex;
    height: 100%;
    left: 0;    
    padding: 0;
    position: absolute;
    top: 0;
    width: 40px;
    background: unset;
    border: none
 }
 .polarisformcontrol{
    padding-top: 10px;
 }
 .polarisformcontrol  .form-control{
    margin-top: 1rem;
    padding: 0 1.2rem;
 }
 .chooseItems{
    background: #fafbfc;
    border: 1px solid #d3dbe2;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
 }
 .chooseItem{
    border-right: 1px solid #d3dbe2;
    cursor: pointer;
    flex: 33.33%;
    font-size: 12px;
    padding: 8px;
    text-align: center;
 }
 .chooseItem.active{
    background: #eaeaea;
 }
 .chooseItem-align{
    border-right: 1px solid #d3dbe2;
    cursor: pointer;
    flex: 33.33%;
    font-size: 12px;
    padding: 8px;
    text-align: center;
 }
 .chooseItem-align.active{
    background: #eaeaea;
 }
 .chooseItem-noperline{
    border-right: 1px solid #d3dbe2;
    cursor: pointer;
    flex: 33.33%;
    font-size: 12px;
    padding: 8px;
    text-align: center;
 }
 .chooseItem-noperline.active{
    background: #eaeaea;
 }
 .builder-item-wrapper .subheading{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #637381;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.6rem;
    margin: 1rem;
    text-rendering: auto!important;
    text-transform: uppercase;
 }
 .Polaris-TopBar .Polaris-TopBar__LogoLink{
    margin-right: 6px;
}
.Polaris-TopBar .Polaris-TopBar__LogoContainer span{
    font-size: 14px;
    font-weight: 500;
}
/* @media (min-width: 90em){ */
.Polaris-TopBar .Polaris-TopBar__SecondaryMenu{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}


/* } */
/* @media screen and (max-width:520px) {
    .Polaris-TopBar__Contents{
        flex-wrap: wrap;
    }
    .Polaris-TopBar .Polaris-TopBar__SecondaryMenu{
        width: 100%;
        justify-content: start;
    }
    .Polaris-TopBar__SearchField{
        width: 100%;
    }
} */
.DataRange  .Polaris-Select{
    width: 20%;
    position: relative;
    z-index: 1;
}
.DataRange {
    margin: 10px 0;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 8px;
}
 .ql-toolbar.ql-snow {
    background: #fafbfc;
    border: 1px solid #d3dbe2;
    border-radius: 3px 3px 0 0;
}
.ql-snow .ql-toolbar button, .ql-snow.ql-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
}
.ql-snow .ql-stroke {
    fill: none;
    stroke: #444;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}
.ql-snow .ql-toolbar button svg, .ql-snow.ql-toolbar button svg {
    float: left;
    height: 100%;
}
.ql-toolbar .ql-formats>* {
    height: 21px;
    width: 24px;
}
.ql-formats{
    display: flex;
}
.ql-toolbar.ql-snow .ql-formats {
    margin-right: 0;
}
.ql-snow .ql-formats {
    display: inline-block;
    vertical-align: middle;
}
.ql-snow .ql-toolbar:after, .ql-snow.ql-toolbar:after {
    clear: both;
    content: "";
    display: table;
}
.builder-controller .ql-editor {
    min-height: 80px;
}
.ql-editor {
    word-wrap: break-word;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.42;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    -o-tab-size: 4;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
}
.svgicon svg{
    width: 32px;
}
.indexButton button {
    background: transparent;
    border: 1px solid #808080bd;
    padding: 8px 12px;
    border-radius: 4px;
}
.indexButton button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.bultActionss {
    display: none;
}
.Polaris-ResourceList__HeaderWrapper.border-radi-botom-unset.Polaris-ResourceList__HeaderWrapper--hasAlternateTool.Polaris-ResourceList__HeaderWrapper--hasSelect.Polaris-ResourceList__HeaderWrapper--isSticky{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Polaris-CheckableButton.Polaris-CheckableButton__CheckableButton--selectMode.Polaris-CheckableButton__CheckableButton--selected{
    border: 1px solid #afb0b1;
    border-radius: 2px;
}
span.Polaris-Choice__Label {
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0 20px 0 0;
}
.settingselect li:nth-child(3) ul[role=tablist] .Polaris-Tabs__TabContainer:after{
    display: none!important;
}
.badge-upgrade [aria-describedby*=TooltipContent] .Polaris-Icon svg {
    fill: #fdce4c;
}
.badge-upgrade.inlineButton .Polaris-Icon, .badge-upgrade.label .Polaris-Icon {
    left: 70%;
    position: relative;
    top: -30px;
}
.badge-upgrade {
    display: inline-block;
    position: relative;
    z-index: 199;
}
 /* .star-rating>fieldset:not(:checked)>label:before {
    content: url(data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%23EB1256" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>);
} */
.code-form-control  .star-rating>fieldset {
    border: none;
    display: inline-block;
}
.code-form-control .star-rating>fieldset:not(:checked)>label {
    float: right;
    width: 1em;
    padding: 0 0.05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: rgba(0,0,0,0);
}
.code-form-control .star-rating>fieldset:not(:checked)>input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.code-form-control .star-rating>fieldset:not(:checked)>label {
    float: right;
    width: 1em;
    padding: 0 0.05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: rgba(0,0,0,0);
}
.code-form-control  .star-rating>fieldset:not(:checked)>label:before {
    content: url(../images/download.svg);
}
.code-form-control .star-rating>fieldset:not(:checked)>label:hover:before{
    content: url(../images/star.svg);
}
.code-form-control .star-rating>fieldset>input:checked ~ label:before{
    content: url(../images/star.svg);
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;    
}

/* checkbox start */
ul {
    list-style-type: none;
  }
.code-form-control .checkbox-wrapper {
    position: relative;
    display: block;
    min-height: 24px;
    padding-left: 28px;
    text-align: left;
}
.code-form-control .checkbox-wrapper .checkbox-input {
    display: none;
}
.code-form-control input[type=checkbox], .code-form-control input[type=radio] {
    box-sizing: border-box;
    box-shadow: none!important;
}
.globo-list-control.option-1-column {
    width: 100%;
}
.globo-list-control.option-2-column {
    width: 50%;
}
.globo-list-control.option-3-column {
    width: 33%;
}
.globo-list-control.option-4-column {
    width: 25%;
}
.globo-list-control.option-5-column {
    width: 20%;
}
.code-form-control .globo-list-control {
    padding: 0 5px;
    position: relative;
}
.code-form-control .checkbox-wrapper .globo-option,.code-form-control .radio-wrapper .globo-option {
    color: #000;
}
.code-form-control .checkbox-wrapper .checkbox-input~.checkbox-label:before, .code-form-control .checkbox-wrapper .checkbox-input~.checkbox-label:after {
    position: absolute;
    top: 1px;
    left: 0px;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    margin: 0;
}
.code-form-control .checkbox-wrapper .checkbox-input~.checkbox-label:before {
    pointer-events: none;
    user-select: none;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    border-radius: 0.25rem;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.code-form-control .checkbox-wrapper .checkbox-input ~ .checkbox-label:before,.code-form-control .radio-wrapper .radio-input ~ .radio-label:after {
    border-color: #EB1256;
}
.checkbox-wrapper .checkbox-input~.checkbox-label:after {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
}
.code-form-control .checkbox-wrapper .checkbox-input:checked~.checkbox-label:after {
    background-image: url(../images/checkbox.svg);
}
.code-form-control  .checkbox-wrapper .checkbox-input:checked ~ .checkbox-label:before {
    border-color: #EB1256;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
    background-color: #EB1256;
}
/* checkbox end */
/* radio button start */
.code-form-control .globo-list-control .radio-wrapper .radio-input:checked ~ .radio-label:after {
    background: #EB1256;
    background: radial-gradient(#EB1256 40%, #fff 45%);
}
.code-form-control  .globo-list-control .radio-wrapper .radio-input:checked~.radio-label:before {
    border-color: #fff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.code-form-control  .radio-wrapper .radio-input {
    display: none;
}
.code-form-control   .radio-wrapper {
    position: relative;
    display: block;
    min-height: 24px;
    margin-left: 28px;
    text-align: left;
}
.code-form-control  .radio-wrapper .radio-input~.radio-label:before, .code-form-control  .radio-wrapper .radio-input~.radio-label:after {
    position: absolute;
    top: 1px;
    left: -28px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: "";
    border: 1px solid;
    box-sizing: border-box;
}
.code-form-control  .radio-wrapper .radio-input~.radio-label:before {
    pointer-events: none;
    user-select: none;
    background-color: #fff;
    box-shadow: none;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.code-form-control  .checkbox-wrapper .checkbox-input ~ .checkbox-label:before, .code-form-control .radio-wrapper .radio-input ~ .radio-label:after {
    border-color: #EB1256;
}
.code-form-control  .globo-list-control.option-1-column {
    width: 100%;
}
/* radio button end */
/* heading start */

.code-form-control .heading-title {
    font-size: 19px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}
.code-form-control .globo-heading {
    color: #000;
}
.backtoindex.Polaris-Link:focus:not(:active){
    outline:unset;
}
/* heading end */
.text-end{
    text-align: end;
}
@media screen and (max-width: 870px) {
    .context .context-inner .item{
             padding: 0 0rem;
    }
}
@media screen and (max-width: 480px) {
    .item.form-name-wrapper{
        display: none !important;
    }
}