body {
  padding: 5px;
}
/* cls015 start */
.code-form-app.boxed-layout {
  padding: 30px;
  position: relative;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}
.code-form-app {
  max-width: 600px;
  background-color: #FFF;
  margin: 30px auto;
}
/* .hidden {
  display: none;
} */
.w100{
  width: 100%;
}
.code-form-app .header {
  margin-bottom: 4%;
}
.code-form-app .header .title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.5;
  font-size: 26px;
  color: #000;
}
.code-form-app .header .description {
  margin-top: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #6c757d;
}
.code-form-app .content {
  margin: 0 -5px;
  padding: 0;
}
.content .code-form-control label {
  color: #212b36;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 20px;
  text-transform: initial;
  letter-spacing: initial;
  cursor: pointer;
  font-size:  14px;color: #000;
  text-align: left !important;
}
.content .code-form-control .text-smaller {
  font-size: 12px;
}
.content .code-form-control input, .content .code-form-control textarea, .content .code-form-control select {
  display: block;
  height: 41px;
  padding: 10px 12px;
  color: #000;
  background-color: #f1f1f1;
  border-radius: 2px;
  font-size:14px;
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
  transition: box-shadow .15s ease;
  outline: none;
  background-image: none !important;
  border:none;
}
.content .code-form-control .code-form-input {
  display: flex;
}
.content .code-form-control.layout-2-column {
  width: 50%;
}
.content .code-form-control textarea {
  height: initial;
}
.code-form-app .flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.content .code-form-control.layout-1-column {
  width: 100%;
}
.content .code-form-control {
  margin-bottom: 1.5rem;
  font-size: 14px;
  padding: 0 5px;
  width: 100%;
  position: relative;
}
button.action.submit.classic-button {
  background-color: #EB1256;
  color: #ffffff;
  border: 1px solid #EB1256;
  text-transform: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: all .25s ease-in-out;
  font-weight: 400;
  font-size:14px;
  line-height:14px;
  border-radius: 2px;
  padding: 11px 22px;
  min-width: 100px;
  cursor: pointer;
  position: relative;
}
.btnLeft{
  text-align: left;
}
.btnCenter {
  text-align: center;
}
.btnRight{
  text-align:right;
}
.content .code-form-control.layout-3-column {
  width: 33%;
}
.layout-1-column{
  width:100%;
}
.layout-2-column {
  width: 50%;
}
.footer.fleft {
  margin-top: 4%;
}

button.action.reset.classic-button {
  text-transform: none;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: all .25s ease-in-out;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;  
    border-radius: 2px;
    padding: 11px 22px;
    min-width: 100px;
    cursor: pointer;
    position: relative;
    background-color: #FFFFFF;
    color: #EB1256;
    border: 1px solid #EB1256;  
}
.preview-box.iframe-wrapper.mobile {
  width: 320px;
}
 .form-control .picker .pickerbox.empty {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3.2rem;
}
.form-control .picker .pickerbox {
  background-color: #f7f7f7;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
.form-control .picker .pickerList {
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transition: all .35s cubic-bezier(.5,.16,.56,.96);
  width: 100%;
  z-index: 99;
}

.form-control .picker .pickerList.show {
  top: 0;
}
 .pickerList  .header {
  align-items: center;
  background: #f9fafb;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  box-sizing: border-box;
  display: flex;
  flex: none;
  height: 3.6rem;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.pickerList .header .back-icon {
  color: #454f5b;
  cursor: pointer;
  display: flex;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.pickerList  .header .title {
  cursor: default;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  padding: 15px 40px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-control .picker .pickerList .grid {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.pickerList  .container {
  height: calc(100% - 5.6rem);
  overflow-y: auto;
}
 .form-control .picker .pickerList .grid .item {
  align-items: center;
  border: 1px solid #dfe3e8;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  display: flex;
  height: 135px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.form-control .picker .pickerList .grid .item .label {
  display: none;
}
.form-control .picker .pickerList .grid .item .value svg {
  height: 56px;
  width: 56px;
} 
/* file start */
.uikit.select.multiple .selection {
  padding-bottom: 0;
}

.uikit.select .selection {
  background: #fff;
  /* border: 1px solid #c4cdd5; */
  border-radius: 3px;
  padding: 5px;
  position: relative;
}
.uikit.select .value {
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}
.uikit.select .multiple {
  background: #dfe3e8;
  border-radius: 3px;
  color: #212b36;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-right: 30px;
}
.uikit.select .delete {
  cursor: pointer;
  display: block;
  font-size: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.uikit.select svg {
  fill: currentColor;
  display: block;
  height: 1em;
  width: 1em;
}
.uikit.select .arrow {
  color: #898989;
  display: block;
  font-size: 10px;
  padding: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.form-control:last-child {
  padding-bottom: 2rem;
}
.form-control .Polaris-Button__Content .Polaris-Button__Text {
  color: rgba(216, 44, 13, 1);
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
}
select.selectDates {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #00000045;
}
/* file end */
input:focus-visible {
  outline: none;
}
#optionText{
  width: 100%;
  margin: 2px 0;
}
/* cls015 end */
.position--label{
  height: 20.91px;
}